/* Footer */

.footer {
  background-color: #7f7f7f;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.02);
  padding: 30px 0;
  .footer_item {
    position: relative;
    img {
      position: absolute;
      bottom: -52px;
      left: 50%;
      margin-left: -92px;
    }
  }
  .footer_text {
    color: #fff;
    font-size: 1.13em;
    padding: 0;
    &:first-child {
      text-align: left;
    }
    &:last-child {
      span {
        cursor: pointer;
        transition: color 0.25s ease; 
        &:hover {
          color: #df1626;
        }
      }
      text-align: right;
    }
  }
}