/* Fourth screen */

.formBlock,
.formBlock {
  background: #fff;
  padding: 65px 0px 70px;
  .section_header_block {
    margin-bottom: 20px;
  }
  p {
    font-size: 1.5em;
    text-align: center;
    font-weight: 400;
    margin-top: 40px;
  }
}

.formBlock {
  .block_header {
    margin-bottom: 30px;
  }
}