@media all and (max-width: 1199px) {
  .mainScreen_nav {
    &:after {
      margin-left: -120px;
      border: 120px solid transparent;
      border-top: 160px solid #fff
    }
  }
  .logo-wrapper {
    margin-left: -25px;
    width: 50px;
  }
  .canLearn {
    .block_inner_backward {
      padding: 15px;
    }
    .block-bottom:hover {
      transform: translateZ(100px) rotateX(95deg);
    }
    .block_inner_face-bottom {
      transform: translateZ(124px);
    }
    .block_inner_backward-bottom {
      transform: rotateX(-95deg) translateZ(123px);
    }

    .block-left:hover {
      transform: translateZ(100px) rotateY(95deg);
    }
    .block_inner_face-left {
      transform: translateZ(100px);
    }
    .block_inner_backward-left {
      transform: rotateY(-95deg) translateZ(95px);
    }

    .block-right:hover {
      transform: translateZ(100px) rotateY(-95deg);
    }
    .block_inner_face-right {
      transform: translateZ(100px);
    }
    .block_inner_backward-right {
      transform: rotateY(95deg) translateZ(95px);
    }
  }
  .ourGuarantees {
    .blockItem-last {
      margin-right: 70px;
    }
    .block {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &:last-child {
        flex-direction: row;
      }
    }
  }
  .whatYouGet_content {
    .col-md-6 {
      margin-top: 40px;
      &:nth-child(1),
      &:nth-child(2) {
        margin-top: 0;
      }
    }
  }
  .ourCourses {
    .course-wrapper:nth-child(2) {
      .course_price {
        margin-top: 84px;
      }
    }
  }
}

@media all and (max-width: 992px) {
  .forWhom {
    .columnBlock-wrapper {
      margin-left: 0;
    }
  }
  
  .canLearn {
    .row_forst,
    .row_second {
      margin-bottom: 0;
    }
    .block {
      margin-top: 30px;
    }
    .block_inner_backward {
      padding: 15px;
    }
    .block-bottom:hover,
    .block-left:hover,
    .block-right:hover {
      transform: translateZ(100px) rotateX(95deg);
    }
    .block_inner_face-bottom,
    .block_inner_face-left,
    .block_inner_face-right {
      transform: translateZ(124px);
    }
    .block_inner_backward-bottom,
    .block_inner_backward-left,
    .block_inner_backward-right {
      transform: rotateX(-95deg) translateZ(123px);
    }
  }
  
  .ourGuarantees {
    .block {
      &:last-child {
        flex-direction: row;
        .blockItem {
          &:first-child {
            margin-right: 15px;
          }
          &:last-child {
            margin-left: 15px;
          }
        }
      }
    }
  }
  
  .table {
    .header {
      font-size: 1.3em;
    }
    .levelTable_row {
      line-height: 2em;
    }
  }
  
  .ourTeachers {
    .block {
      margin-top: 40px;
    }
  }
  
  .ourCourses {
    .course_row {
      flex-direction: column;
      align-items: center;
    }
    .course {
      width: 100%;
    }
    .course_image {
      height: auto;
      max-width: 100%;
    }
    .course_content {
      width: 100%;
    }
    .course.course_top {
      flex-direction: column;
      align-items: center;
      .course_content {
        padding: 0;
      }
      .course_line-red {
        margin-top: 25px;
      }
    }
    .course_price {
      border-bottom: 1px solid rgba(0, 0, 0, .2);
      font-style: italic;
      padding-bottom: 24px;
      font-size: 1.13em;
      margin: 30px 0 24px;
    }
    .course_btns {
      align-items: flex-end;
      .singUpLesson {
        max-width: 250px;
      }
    }
  }
  
  .contacts {
    .block {
      margin-bottom: 40px;
    }
    .map-wrapper {
      margin-top: 0;
    }
  }
  
  .footer {
    margin-top: 50px;
    .container .footer_item {
      text-align: center;
      &:last-child {
        margin-top: 20px;
      }
      img {
        bottom: 0;
        top: -154px;
      }
    }
  }
}

@media all and (min-width: 870px) and (max-width: 992px) {
  .ourGuarantees {
    .blockItem.blockItem-last {
      margin-right: 40px!important;
    }
  }
  
  .container {
    width: 850px;
  }
  
  .mainScreen_nav .nav li a {
    padding: 30px 6px;
  }
}

@media all and (max-width: 767px) {
  .wrapper-left,
  .wrapper-right {
    display: none!important;
  }
  
  .section_header {
    h2,
    h2.header-white {
      font-size: 1.75em;
    }
  }
  
  .mainScreen_content {
    .ourGuarantees {
      .blockItem-last {
        margin: 0 auto 25px;
      }
    }
    .wrapper.wrapper-durkBg {
      display: none;
    }
    .section_header {
      h2 {
        padding: 10px 80px;
      }
    }
    h1 {
      font-size: 1.5em;
    }
    h3 {
      font-size: 1.13em;
    }
  }
  
  .calculator {
    .block_1 {
      .block_item {
        padding: 60px 15px;
      }
    }
    .block_2 .block_item,
    .block_3 .block_item {
      padding: 20px;
    }
    .result {
      p {
        max-width: 60%;
      }
    }
  }
  
  .canLearn {
    padding-bottom: 25px;
    .row_first, 
    .row_second {
      margin-bottom: 0;
    }
  }
  
  .whyDesign-wrapper {
    padding-bottom: 30px;
    .whyDesign_text {
      margin-top: 20px;
      margin-bottom: 40px;
    }
  }
  .forWhom {
    .column-right {
      margin-top: 60px;
    }
  }
  
  .whatYouGet_content {
    .col-md-6:nth-child(2) {
      margin-top: 40px;
    }
  }
  
  .ourGuarantees {
    .blockItem-last {
      margin: 0 auto 25px;
    }
    .block {
      &:last-child {
        flex-direction: column;
        .blockItem {
          &:first-child {
            margin: 0 auto 25px;
          }
          &:last-child {
            margin: 0 auto;
          }
        }
      }
    }
  }
  
  .table {
    .header {
      font-size: 0.9em;
      font-weight: bold;
      .column-first .header_item-1 {
        font-size: 1.1em;
      }
    }
    .levelTable_row {
      font-size: 0.8em;
      line-height: 1.6em;
    }
    img {
      height: auto;
      max-width: 20px;
    }
    .set_footer {
      font-size: 0.9em;
    }
  }
  .table-wrapper .modal_close, .table-wrapper-juniorMobile .modal_close, .table-wrapper-middleMobile .modal_close, .table-wrapper-seniorMobile .modal_close, .table-wrapper-artMobile .modal_close {
    top: auto;
    bottom: 0;
    right: 70px;
  }
}

@media all and (max-width: 580px) {
  .singUpLesson {
    font-size: 0.9em;
  }
  
  .modal {
    left: 0;
    margin-left: 0;
    max-width: 100%;
    right: 0;
    padding: 20px 10px 40px;
    .modal_close {
      right: 0;
    }
  }
  
  .calculator {
    display: none;
  }
  
  .ourCourses {
    .course_btns {
      .singUpLesson {
        max-width: 100%;
      }
    }
  }
}

@media all and (max-width: 480px) {
  .amoCRM_form button {
    font-size: 0.8em;
  }
  
  .wrapper.wrapper-durkBg {
    margin-bottom: 50px;
  }
  
  .mainScreen_nav {
    &:after {
      top: -40px;
    }
    .mnu_icon .mnu_icon-text {
      display: none;
    }
  }
  
  .mainScreen-contentWrapper {
    .content {
      p {
        padding: 20px;
      }
    }
  }
  
  .mainScreen_content .section_header h2 {
    padding: 15px;
  }
  
  .section_header_block {
    margin-bottom: 40px;
  }
  .section_header {
    padding: 10px;
    h2,
    h2.header-white {
      font-size: 1.25em;
    }
    h2.header-onWhite {
      padding-bottom: 20px;
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: #f00;
      }
    }
    .content_img {
      display: none;
    }
  }
  
  .forWhom {
    .columnBlock-wrapper {
      flex-direction: column;
      img {
        margin-bottom: 20px;
      }
      p {
        margin: 0;
        text-align: center;
      }
    }
  }
  
  .ourCourses {
    .course {
      padding: 15px;
    }
    .course_btns {
      flex-direction: column;
      height: 150px;
      align-items: center;
      .singUpLesson {
        display: block;
        width: 100%;
        max-width: 100%;
        &-black {
          margin-left: 0;
          margin-top: 35px;
        }
      }
    }
  }
  
  .ourAim {
    p {
      font-size: 1.2em;
    }
  }
  
  .contacts {
    .block {
      flex-direction: column;
    }
    .block_content {
      margin-top: 20px;
      padding: 0;
      text-align: center;
      span {
        margin-left: -20px;
      }
    }
  }
  
  .formBlock,
  .whatYouGet,
  .ourGuarantees,
  .ourAim {
    padding: 30px 0;
  }
}