@media all and (min-width: 870px) and (max-width: 992px) {
  .ourGuarantees {
    .blockItem.blockItem-last {
      margin-right: 40px!important;
    }
  }
  
  .container {
    width: 850px;
  }
  
  .mainScreen_nav .nav li a {
    padding: 30px 6px;
  }
}